<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>CRM</title>
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="img/fav.png">
      <!-- Bootstrap core CSS -->
      <link href="~/css/bootstrap.min1.css" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="~/css/fontawesome-all.css" rel="stylesheet">
      <!-- Owl Stylesheets -->
      <link rel="stylesheet" href="~/css/owl.carousel.min.css">
      <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
      <!-- Animate CSS  -->
      <link href="~/css/animate.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="~/css/osahan.css" rel="stylesheet">
	  <link href="~/css/aos.css" rel="stylesheet">
   </head>
   <body id="page-top">
      <header class="bg-danger text-white header_bg">
         <div class="layer sun-layer-2"><div></div></div>
         <nav class="navbar osahan-navbar navbar-expand-lg navbar-dark" id="mainNav">
            <div class="container">
               <a class="navbar-brand js-scroll-trigger" href="#page-top" ><img data-aos="zoom-in" class="img-fluid" src="img/CRMLogo.png" alt=""></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive" data-aos="zoom-in-up">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#features">Features</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#WhyUs">Why Us?</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#Process">Process</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#video">Video</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#Statistics">Statistics</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#ContactUS">Contact US</a>
                     </li>
                     
                     <li class="nav-item">
                        <a class="js-scroll-trigger menu-btn" href="/Home/partnerlogin">Login</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <section class="banner-block pb-0" id="banner">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 text-center" id="app">
                     <h1 class="text-white" data-aos="fade-up">With <strong> CRM  </strong>Software</h1>
                     <p class="lead mb-5 text-white" data-aos="fade-up"> Get More Leads:- <span id="ityped"></span</p>

                     <div class="mb-5"></div>
                     <img class="img-fluid  wow fadeInUp" data-aos="fade-up" src="img/11.png" alt="">
                  </div>
               </div>
            </div>
         </section>
         <div class="effectiv" data-aos="fade-up">
            <img class="svg" src="img/bg.svg" alt="" />
         </div>
      </header>
      <section class="features-block" id="about">
         <div class="container">
            <div class="section-title text-center">
               <span class="badge badge-primary" data-aos="fade-up">About Crm</span>
               <h2 data-aos="fade-up">Grow your sales with us </h2>
               <span class="section-title-line"></span>
            </div>
            <div class="row">
               <div class="col-md-6">
                    <p data-aos="fade-up">Grow your sales with us by building great customer relationships. We offer sales, service, marketing and customer support automation at very affordable and transparent cost with no hidden fees. Digiclay’s CRM collects critical information about sales and services. It is fast and integrates on each and every device seamlessly. </p>
                    <h2 data-aos="fade-up">Why  CRM</h2> 
                    <ul class="whatdigicalyCRM">
					   <li data-aos="fade-up"><img src="img/right-tick.png">360 customer view with flexible integration platform and multiple deployment options</li>
					   <li data-aos="fade-up"><img src="img/right-tick.png">Provides every employee with the right information, at the right time, with modern user-interface </li>
					   <li data-aos="fade-up"><img src="img/right-tick.png">Fully mobile and tailored to every individual’s role and unique ways of working</li>
					   <li data-aos="fade-up" ><img src="img/right-tick.png">Drives adoption, increases productivity, fosters collaboration, and enables better decision making </li>
                    </ul>					
			  </div>
               <div class="col-md-6 text-center" data-aos="fade-up">
                   <img class="img-fluid mb-4" src="img/MA-and-CRM.png" alt="">
               </div>
               
            </div>
            
         </div>
      </section>
      <section class="sign-up-block" id="features" style="padding:0px">
            <div class="row">
		        <div class="col-md-2 col-xs-12">
					<div class="leftsidebar">
					    <div class="center-outer">
							<div class="center-inner" data-aos="fade-up">

							<div class="bubbles">
							<h1>F<br>E<br>A<br>T<br>U<br>R<br>E<br>S </h1>
							</div>

							</div>
					   </div>
					</div>
				</div>
				<div class="col-md-10 col-xs-12">
					<div class="rightsidebar">
					   <ul id="datalist">
					        <li data-aos="fade-right" ><div class="iner_left"><img src="img/content.png"></div><div class="inner_right graybg"><h3>Contact management </h3><p>Create quotes quickly and easily streamline your sales cycle and increase deal velocity.</p></div></li>
						   
						   <li data-aos="fade-right" ><div class="iner_left"><img src="img/Reporting.jpg"></div><div class="inner_right graybg"><h3>Reporting and dashboards</h3><p>Monitor marketing, sales and customer support metrics with Dashboards. </p></div></li>
							
							<li data-aos="fade-right" ><div class="inner_right whitebg"><h3>Lead management </h3><p>Quickly identify and track your hottest leads from multiple campaigns. Turn your leads into sales.</p></div><div class="iner_left"><img src="img/lead.jpg"></div></li>
							
							<li data-aos="fade-right" ><div class="inner_right whitebg"><h3>Project Management</h3><p>Build and manage Projects across Sales, Marketing, and Customer Support. Streamline the tasks necessary to get the job done.</p></div><div class="iner_left"><img src="img/project.jpg"></div></li>
							
							<li data-aos="fade-right" ><div class="iner_left"><img src="img/Campaign.jpg"></div><div class="inner_right graybg"><h3>Campaign management </h3><p>Enhance your marketing and sales initiatives. Create, execute and track campaigns across multiple channels.</p></div></li>
							
							<li data-aos="fade-right" ><div class="iner_left"><img src="img/email.jpg"></div><div class="inner_right graybg"><h3>Email And Calendar Integration </h3><p>Digiclay makes it easy for you to track customer emails, manage appointments and keep your calendars in sync. </p></div></li>
						   
						    <li data-aos="fade-right" ><div class="inner_right whitebg"><h3>Social CRM </h3><p>Integrate leading social media services to engage with your customers. Improve online collaboration and leverage social business application. </p></div><div class="iner_left"><img src="img/social.jpg"></div></li>
							
							<li data-aos="fade-right"><div class="inner_right whitebg"><h3>Mobile version </h3><p>Maximize productivity with access to optimize for all of the handheld devices you use every day.  </p></div><div class="iner_left"><img src="img/mobile.jpg"></div></li>
							
					   </ul>
					  
					</div>
				</div>
			</div>
       </section>
	    <div class="text-center main_readmore" data-aos="fade-right">
	       <span class="btn btn btn-danger btn-grad">Read More</span>
	    </div>
      <section class="amazing-dashboard-block" id="WhyUs">
         <div class="container">
            <div class="row">
                <!-- Experience the start here-->
               <div class="flat-row overflow">
      
       
        <div class="container">
            <div class="text-center" data-aos="fade-up">
                <h2 class="power-of-hr-one">Experience the <span class="span-title">Power of CRM</span></h2>
                <p class="space-bottom-middle">Here’s what makes us better than the competition</p>
            </div>



            <!--card slider section-->
            <div class="card_section">

                <div class="card_list">
                    <ul class="card_list_box">
                        <li data-aos="zoom-in" data-aos-delay="100">
                            <a class="card1_click active-card" href="javascript:void(0)" >
                                <div class="card_image">
                                    <img class="card_inactive" alt="simple hr software" src="img/card_icon1.png">
                                    <img class="card_active" alt="simple hr software in violet" src="img/card_icon1_active.png">
                                </div>
                                <div class="card_content">
                                    <h5>Simple</h5>

                                </div>
                            </a>
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="150">
                            <a class="card2_click" href="javascript:void(0)">
                                <div class="card_image">
                                    <img class="card_inactive" alt="scalable hr management solution" src="img/card_icon2.png">
                                    <img class="card_active" alt="scalable hr solution" src="img/card_icon2_active.png">
                                </div>
                                <div class="card_content">
                                    <h5>Scalable</h5>

                                </div>
                            </a>
                        </li>
                        <li  data-aos="zoom-in" data-aos-delay="200"> 
                            <a class="card3_click " href="javascript:void(0)">
                                <div class="card_image">
                                    <img class="card_inactive" alt="accessible hrms system" src="img/card_icon3.png">
                                    <img class="card_active" alt="accessible hrms solution" src="img/card_icon3_active.png">

                                </div>
                                <div class="card_content">
                                    <h5>Accessible</h5>

                                </div>
                            </a>
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="250">
                            <a class="card4_click " href="javascript:void(0)" rel="active-card">
                                <div class="card_image" >
                                    <img class="card_inactive" alt="affordable hrms software" src="img/card_icon4.png">
                                    <img class="card_active" alt="affordable hrms solutions" src="img/card_icon4_active.png">
                                </div>
                                <div class="card_content">
                                    <h5>Affordable</h5>

                                </div>
                            </a>
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="300">
                            <a class="card5_click" href="javascript:void(0)">
                                <div class="card_image" >
                                    <img class="card_inactive" alt="analytical hr-one software" src="img/card_icon5.png">
                                    <img class="card_active" alt="hr-one software analytics" src="img/card_icon5_active.png">
                                </div>
                                <div class="card_content">
                                    <h5>Analytics</h5>

                                </div>
                            </a>
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="350">
                            <a class="card6_click" href="javascript:void(0)">
                                <div class="card_image" >
                                    <img class="card_inactive" alt="hr software integration" src="img/card_icon6.png">
                                    <img class="card_active" alt="easy to integrate hr system" src="img/card_icon6_active.png">
                                </div>
                                <div class="card_content">
                                    <h5>Integration</h5>

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="cards_images">
                    <div class="cards_section">
                        <div class="first_card" >
                            <div class="cards_container">
                                <img class="card_active" alt="" src="img/icon1 (1).png">
                                <h3>Simple</h3>
                                <p>Our easy to use cloud-based CRM software is designed to meet your business needs. It includes everything you need to run your sales, after sales and marketing activities.  </p>

                            </div>
                        </div>
                        <div class="second_card">
                            <div class="cards_container">
                                <img class="card_active" src="img/icon1 (2).png" alt="">
                                <h3>Scalable</h3>
                                <p>Our CRM software is scalable and flexible. It is easy to use, customizable, and cost-effective to create strong sales and marketing alignment for companies to achieve high growth rate.  </p>
                            </div>
                        </div>
                        <div class="third_card" >
                            <div class="cards_container">
                                <img class="card_active" alt="" src="img/icon1 (3).png" >

                                <h3>Accessible</span>
                                </h3>
                                <p>Our CRM software collects and organizes data about customer interactions, making it accessible and actionable for all, and facilitating analysis of that data. </p>

                            </div>
                        </div>
                        <div class="fourth_card">
                            <div class="cards_container">
                                <img class="card_active" alt="" src="img/icon1 (4).png">
                                <h3>Affordable</h3>
                                <p>Our CRM software offers enterprise-level features and exceptional support at an affordable price to improve your top as well as bottom line.  </p>

                            </div>
                        </div>
                        <div class="five_card">
                            <div class="cards_container"><img class="card_active" alt="" src="img/icon1 (5).png">
                                <h3>Analytics</h3>
                                <p>Our CRM software analyzes customer data to improve Sales, Marketing and Service process. It gathers customer information, behaviors and buying pattern and evaluates customer response to marketing campaigns.</p>

                            </div>
                        </div>
                        <div class="six_card">
                            <div class="cards_container">
							 <img class="card_active" alt="" src="img/icon1 (6).png">

                                <h3>Integration</h3>
                                <p>Our CRM software helps you to be better prepared, delegate tasks more easily, monitor company’s performance and spot customer trends as they happen.</p>

                            </div>
                        </div>
                    </div>

                </div>
				<div class="clearfix"></div>
            </div>

            <!--card slider section end-->




        </div>
    </div>

    <!-- Experience the end here-->
            </div>
         </div>
      </section>
     

	<section class="why-us-block bg-danger" id="Process">
        <div class="container">
            <div class="flat-row margin overflow">
                <div class="container">
                    <div class="text-center margin-bottom-larg">
                        <h2 data-aos="fade-up"><span class="text-sky-blue">Automate </span> Your Business</h2>
                        <p class="space-bottom-middle" data-aos="fade-up">Powerful Data At Your Finger Tips  </p>
                        <div class="uneeconps-box">
							<div class="uneeconps-roud-box" data-aos="zoom-in">
							    <div class="uneeconpspostion"></div>
							    <div class="uneeconps-box-panel">
							       <img src="img/ciclo_crm.png" alt="uneecops group">
								</div>
							</div>
                           <div class="ueeconps-line-box uneeconps-left-top" data-aos="fade-right"> 
						        <a href="#">
                                <h4>Marketing</h4>
									<div class="box-ueeconps-inner">
										<div class="ueeconps-cricle-pill"><span></span></div>
									   <div class="text-ueeconps"> 
										    <ul class="marketing">
											   <li>Run Compaigns</li>
											   <li>Generate Leads</li>
											   <li>Record Follow-ups</li>
										    </ul> 
									   </div> 
									</div>
                                </a>
							</div>
							<div class="ueeconps-line-box uneeconps-left-bottom">
							<a href="#" data-aos="fade-right">
							  <h4>Sales</h4>
							  <div class="box-ueeconps-inner">
								<div class="ueeconps-cricle-pill"><span></span><span class="line-ueecoups"></span></div>
								 <div class="text-ueeconps">
								    <ul class="marketing">
									   <li>Qualify leads</li>
									   <li>Convert Leads</li>
									   <li>Track your sales</li>
									</ul> 
								 </div>  </div>
							  </a>
							
							</div>
							<div class="ueeconps-line-box uneeconps-right-top" data-aos="fade-left">
							    <a href="#">
									<h4>Orders</h4>
									<div class="box-ueeconps-inner">
									<div class="ueeconps-cricle-pill"><span></span></div>
									<div class="text-ueeconps">
									    <ul class="marketing">
									   <li>Qualify leads</li>
									   <li>Convert Leads</li>
									   <li>Track your sales</li>
									</ul> 
									</div> </div>
							    </a>
							</div>
							<div class="ueeconps-line-box uneeconps-right-bottom" data-aos="fade-left">
							    <a href="#">
									<h4>Support</h4>
									<div class="box-ueeconps-inner">
										 <div class="ueeconps-cricle-pill"><span></span><span class="line-ueecoups"></span></div>
									<div class="text-ueeconps">
									    <ul class="marketing">
										   <li>Conduct Training </li>
										   <li>Knowledge Base</li>
										   <li>Support Tickets</li>
										</ul> 
									</div> </div>
							     </a>
							</div>
                        </div>
                    </div>
               </div>
           </div>
		</div>
    </section>
	  
   <section class="video-block pb-0" id="video">
         <div class="container">
            <div class="section-title text-center">
               <span data-aos="fade-up" class="badge badge-info">Video</span>
               <h2 data-aos="fade-up" >Watch Our Video</h2>
               <span class="section-title-line"></span>
            </div>
            <div class="row">
               <div class="col-md-7 mx-auto video_bg">
                  <div class="video-item text-center" data-aos="fade-up">
                    <video  height="300" controls>
					  <source src="video/Why CRM.mp4" type="video/mp4">
					  <source src="video/Why CRM.mp4" type="video/ogg">
					  Your browser does not support the video tag.
					</video>
                  </div>
               </div>
            </div>
         </div>
        
      </section>
	  
	  
	  
    <section class="choose-area section-padding version-1" id="Statistics">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="section-intro statics">
                        <h2 class="section-title" data-aos="fade-up" >Statistics</h2>
                        <p data-aos="fade-up">CRMS is legit, here are some interesting numbers to prove it.</p>
                       <ul class="statistics">
								    <li data-aos="fade-up" ><img src="img/clients.png"><Span>50 + </span> Happy Client’s</li>
									<li data-aos="fade-up"><img src="img/city.png"><Span>50 + </span>Cities</li>
									<li data-aos="fade-up"><img src="img/statistic-restaurant-icon.png"><Span>2 + </span> Locations</li>
									
															
								</ul>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-sm-5 offset-sm-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-use">
                               
                                <h4 data-aos="fade-up" >Happy Customers</h4>
                                <p data-aos="fade-up">Look Below to see why we’re proud</p>
								<ul class="happyCustomer">
								    <li data-aos="fade-up" ><img src="img/logo1.jpg"></li>
									<li data-aos="fade-up"><img src="img/logo2.jpg"></li>
									<li data-aos="fade-up"><img src="img/logo3.jpg"></li>
									<li data-aos="fade-up"><img src="img/logo4.jpg"></li>
					                <li data-aos="fade-up"><img src="img/logo5.jpg"></li>
									<li data-aos="fade-up"><img src="img/logo1.jpg"></li>
									<li data-aos="fade-up"><img src="img/logo2.jpg"></li>
									<li data-aos="fade-up"><img src="img/logo3.jpg"></li>
									<li data-aos="fade-up"><img src="img/logo4.jpg"></li>
															
								</ul>
								
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
     
    
     
    
      
      
      <section class="download-app-block bg-danger" id="download-app">
         <div class="container">
            <div class="section-title text-center">
               <span class="badge badge-white text-white" data-aos="fade-up">Are you ready?</span>
               <h2 class="text-white" data-aos="fade-up">Download Application</h2>
               <span class="section-title-line section-title-line line-white"></span>
            </div>
            <div class="row">
               <div class="col-md-8 mx-auto text-center" >
                  <p data-aos="fade-up"><button type="button" class="btn btn-light btn-lg"><i class="fa fa-apple" aria-hidden="true"></i> DOWNLOAD NOW</button></p>
               </div>
            </div>
         </div>
      </section>
     
     
	  
	  <section class="footer-info iq-pt-60" id="ContactUS">
		<div class="container">
		<div class="row">
		<div class="col-sm-4 col-md-4">
			<div class="iq-footer-box text-center">
			<div class="line"></div>
			<div class="iq-icon hovicon effect-8">
			<i class="fa fa-map-marker" aria-hidden="true"></i>
			</div>
			<div class="footer-content">
			<h4 class="iq-tw-6 iq-pb-10">Address</h4>
			<p> 301 Sukhmani Apartment, 5 Vishnupuri, Above Union Bank, Indore, MP 452014,INDIA. </p>
			</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 re4-mt-30">
			<div class="iq-footer-box text-center">
			<div class="line"></div>
			<div class="iq-icon hovicon effect-8">
			<i class="fa fa-phone" aria-hidden="true"></i>
			</div>
			<div class="footer-content">
			<h4 class="iq-tw-6 iq-pb-10">Phone</h4>
			<p> +91 98268 77919 </p>
			</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 re-mt-30">
			<div class="iq-footer-box text-center">
			<div class="line"></div>
			<div class="iq-icon hovicon effect-8">
			<i class="fa fa-envelope" aria-hidden="true"></i>
			</div>
			<div class="footer-content">
			<h4 class="iq-tw-6 iq-pb-10">Mail</h4>
			<p>info@digiclayinfotech.com</p>
			</div>
			</div>
		</div>

		</div>
		<div class="row iq-mt-40">
		<div class="col-sm-12 text-center">
		<div class="social-icons mb-3 text-center">
					  
					   <a href="#"><i class="fa fa-facebook"></i></a>
					   <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					   <a href="#"><i class="fa fa-google"></i></a>
					  
					</div>
		 <p class="mt-0 mb-0">&copy; Copyright 2018 CRMS. All Rights Reserved</p>
		</div>
		</div>
		</div>
		</section>
      <!-- Bootstrap core JavaScript -->
      <script src="~/js1/jquery.min.js"></script>
      <script src="~/js1/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="~/js1/jquery.easing.min.js"></script>
      <!-- Scrolling Nav JavaScript -->
      <script src="~/js1/scrolling-nav.js"></script>
      <!-- Contact Form JavaScript -->
      
      <!-- Owl Carousel javascript -->
      <script src="~/js1/owl.carousel.js"></script>
      <!-- WOW JavaScript -->
      <script src="~/js1/wow.min.js"></script>
      <!-- Custom JavaScript -->
      <script src="~/js1/custom.js"></script>
	  <!----cardjs------>
	  <script src="~/js1/card-slider.js"></script>
	  @* <script src="~/js1/index.min.js"></script> By Ajay*@
	 <script src="~/js1/aos.js"></script>
	  <script>
	      AOS.init({
	          duration: 1200,
	      })
</script>
 <script>
     ityped.init(document.querySelector("#ityped"), {
         showCursor: false,
         strings: ['Sale More Products,', 'Close More Deals', 'Earn More Profit', 'Much More...']
     })

     ityped.init("#placeholder", {
         placeholder: true,
         showCursor: false
     })

     $(function () {
         if ($(window).width() < 768) {
             var swiper = new Swiper('.swiper-container', {


                 slidesPerView: 3,
                 slidesPerColumn: 2,
                 slidesPerGroup: 3,
                 spaceBetween: 0,
                 pagination: {
                     el: '.swiper-pagination',
                     clickable: true,
                 },
             });

         } else {

             var swiper = new Swiper('.swiper-container', {


                 slidesPerView: 5,
                 slidesPerColumn: 3,
                 spaceBetween: -1,
                 simulateTouch: false,
                 pagination: {
                     el: '.swiper-pagination',
                     clickable: true,
                     simulateTouch: false,
                 },
             });

         }



     });

  </script>
   </body>
</html>



