@{
    ViewBag.Title = "ComplaintRegister";
}
 <style type="text/css">
     .collapse.in {width:100%;}
     table.dataTable {margin:0 !important;}
     .dataTables_scrollHeadInner {width:100% !important;
     }
    </style>
<link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/plugins/datatables/jquery-3.3.1.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>


<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @* <button type="button" class="close" onclick="ClosePopUpRec()">&times;</button>*@
                <h4 class="modal-title">Track Complaint</h4>
            </div>
            <div class="modal-body input_popup">
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Employee Name : Mukesh</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <table id="table1" class="display nowrap" style="min-width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sr. No.</th>
                                                        <th>Complaint No.</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                               <tbody>
                                                   <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                    <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                    <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                    <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                               </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Employee Name : Ajit</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <table id="table2" class="display nowrap" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sr. No.</th>
                                                        <th>Complaint No.</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                               <tbody>
                                                   <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                    <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                    <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                    <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                               </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Employee Name : Vishal</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <table id="table3" class="display nowrap" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sr. No.</th>
                                                        <th>Complaint No.</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                               <tbody>
                                                   <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                    <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                    <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                    <tr>
                                                       <td>1</td>
                                                       <td>021546</td>
                                                       <td>Dummy text </td>
                                                       <td>Resolved</td>
                                                       <td>
                                                           <a href="#" title="View">
                                                               <i class="fa fa-eye"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                               </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-sm-12 btn-div-c">
                        <input type="button" value="Save" id="btnComplaint" class="btn btn-default" />
                        <button type="button" onclick="ClearDvData();" class="btn btn-default">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table1').DataTable({
            "scrollY": 200,
            "scrollX": true,
            "ordering": false
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table2').DataTable({
            "scrollY": 200,
            "scrollX": true,
            "ordering": false
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table3').DataTable({
            "scrollY": 200,
            "scrollX": true,
            "ordering": false
        });

    });
</script>

