<style>
    .modal-footer, .modal-body, .modal-content {
        width: 65%;
        float: none;
        margin: auto;
    }

    .ml15 {
        margin-left: 15px !important;
    }

    .p0 {
        padding: 0 !important;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    @* <button type="button" class="close" onclick="ClosePopUpRec()">&times;</button>*@
    <h4 class="modal-title">Take A Survey</h4>
</div>
<div class="modal-body input_popup" style="width: 100%;">
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <form>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" checked>
                            Internal
                        </label>
                        <label class="radio-inline ml15">
                            <input type="radio" name="optradio">
                            External
                        </label>
                    </form>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 plr5">
                            Name Of Person
                        </label>
                        <div class="col-sm-9 plr5">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 plr5">
                            Name Of Organisation
                        </label>
                        <div class="col-sm-9 plr5">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 plr5">
                            Address
                        </label>
                        <div class="col-sm-4 plr5">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-sm-5 p0">
                            <div class="form-group">
                                <label class="col-sm-3 plr5">
                                    Mobile No.
                                </label>
                                <div class="col-sm-9 plr5">
                                    <input class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 plr5">
                                    Email Id.
                                </label>
                                <div class="col-sm-9 plr5">
                                    <input class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 plr5">
                            Product / Item / Category
                        </label>
                        <div class="col-sm-9 plr5">
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <fieldset>
                        <legend>Product Detail</legend>
                        <div class="form-group">
                            <label class="col-sm-3 plr5">
                                Name 
                            </label>
                            <div class="col-sm-9 plr5">
                                <input class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 plr5">
                                Machine No./Sr. No.
                            </label>
                            <div class="col-sm-4 plr5">
                                <input class="form-control" />
                            </div>
                            <div class="col-sm-5 p0">
                                <div class="col-sm-3 plr5">
                                    Model type
                                </div>
                                <div class="col-sm-9 plr5">
                                    <input class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 plr5">
                                Weight/Dimension
                            </label>
                            <div class="col-sm-2 plr5">
                                <input class="form-control" />
                            </div>
                            <div class="col-sm-7 p0">
                                <div class="col-sm-3 plr5">
                                    Warranty Period
                                </div>
                                <div class="col-sm-3 plr5">
                                    <input class="form-control" />
                                </div>
                                <label class="col-sm-2 plr5">
                                    Valid Upto
                                </label>
                                <div class="col-sm-4 plr5">
                                    <input class="form-control" />
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 plr5">
                                    Extra Info
                                </div>
                                <div class="col-sm-9 plr5">
                                    <textarea class="form-control"></textarea> 
                                </div>

                            </div>
                    </fieldset>

                    <fieldset>
                        <legend>
                            Office Remark
                        </legend>
                        <br />
                        <div class="form-group">
                             <form>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" checked>
                            Lead / Prospect
                        </label>
                        <label class="radio-inline ml15">
                            <input type="radio" name="optradio">
                            Order
                        </label>
                              <label class="radio-inline ml15">
                            <input type="radio" name="optradio">
                            Complaint
                        </label>
                    </form>
                        </div>  
                        <br />
                            <br />                    
                    </fieldset>
                </div>
                @* <fieldset>
                            <div class="form-group">
                                <label class="control-label col-sm-4 plr5">
                                    Select Complaint No. 
                                </label>
                                <div class="col-sm-8 plr5">
                                   <select>
                                       <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                       <option>5</option>
                                   </select>
                                </div>                               
                            </div>
                           <div class="form-group">
                                <label class="control-label col-sm-4 plr5">
                                    Status
                                </label>
                                <div class="col-sm-8 plr5">
                                    <textarea class="form-control"></textarea>
                                </div>                               
                            </div>
                        </fieldset>*@
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-sm-12 btn-div-c">
                <input type="button" value="Save" id="btnComplaint" class="btn btn-default" />
                <button type="button" onclick="ClearDvData();" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
