@model CompxERP.Models.citydet

   
   <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Route Map</h4>
                </div>
               <div class="modal-body input_popup">
                    <div class="form-group">
                       
                       
                    @*    <div class="col-sm-1 padd_l padd_5">Country</div>
                        <div class="col-sm-3 padd_l padd_5">
                           <select name="CityMaster_Country" id="CityMaster_Country" class="form-control"><option value="1">India</option>
                                <option value="2">England</option>
                                <option value="3">Bahrain</option>
                                <option value="4">Iran</option>
                                <option value="5">Iraq</option>
                                <option value="6">Kuwait</option>
                                <option value="7">Northern Ireland</option>
                                <option value="8">Oman</option>
                                <option value="9">Saudi Arabia</option>
                                <option value="10">Scotland</option>
                                <option value="11">South africa</option>
                                <option value="12">UAE</option>
                                <option value="13">Wales</option>
                            </select>
                        </div>*@
                        <div class="col-sm-1 padd_l padd_5">State</div>
                        <div class="col-sm-3 padd_l padd_5">
                              @Html.DropDownList("State", (SelectList)ViewBag.vwState, "--Select--", new { @class = "form-control" ,@onchange="FillCity();" })  
                        </div>
                          <div class="col-sm-1 padd_l padd_5">District</div>
                        <div class="col-sm-3 padd_l padd_5">
                              @Html.DropDownList("CityName", (SelectList)ViewBag.vwState, "--Select--", new { @class = "form-control" ,@onchange="FillTahsilList();" })  
                        </div>
                        <div class="col-sm-1 padd_l padd_5">Tahsil</div>
                        <div class="col-sm-3 padd_l padd_5">
                         
                             <input class="form-control" id="Tahsil" name="Tahsil" type="text">
                        </div>
                    </div>
                  
                   
                   <input type="button" value="Save" id="InsCity" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                </div>
            <div class="col-md-12"><div id ="dvCity"></div></div>
            
             <div class="col-sm-12">
                 <div class="form-group box fade-in one" data-aos="fade-left" style="display:none;" id="SearchDiv">
                        <div class="col-sm-2 padd_l padd_5">State</div>
                        <div class="col-sm-4 padd_l padd_5">
                              @Html.DropDownList("S_State", (SelectList)ViewBag.vwState, "--Select--", new { @class = "form-control"})  
                        </div>
                        
                        <div class="col-sm-4 padd_l padd_5">
                         
                             <input type="button" value="Search" id="btnSearch" class="btn btn-default" style="margin-top:0px;"/> 
                            @* <input class="form-control" id="Total_City" disabled name="City" type="text">*@
                        </div>

                       
                 </div>
            </div>
         </div>          
      <script type ="text/javascript">
          $('#CityName').empty();
          $('#InsCity').click(function () {
              debugger;

              if ($('#Tahsil').val() == "") {
                  $('#Tahsil').focus();
                  alert('Please Enter Tahsil Name ...');
                  return
              }
              if ($('#State').val() == "") {
                  $('#State').focus();
                  alert('Please Select State Name ...');
                  return
              }

              $.get("/Master/InsTahsil", { DistrictID: $('#CityName').val(), Tahsil: $('#Tahsil').val() }, function (data) {
                  if (data != null) {
                      alert('Saved Successfully ...');
                      $('#Tahsil').val(''); $('#Tahsil').focus();
                      FillTahsilList();
                  }
              });

          });
          $('#btnSearch').click(function () {
              debugger;
              FillCityList();
          });

          function FillCity() {
              debugger; 
              $('#CityName').empty();

              $.get("../Master/GetCityList", { iState: $("#State").val() }, function (data) {
                  if (data != null) {
                    var opt = new Option('--Select--', 0);
                    $("#CityName").append(opt); 

                    for (var i = 0; i < data.length; i++) {
                        opt = new Option(data[i].cityname, data[i].citycode);
                        $("#CityName").append(opt);
                    }  
                }
            });
        }

          function FillTahsilList() { 
              debugger;
              $.get("../Master/GetTahsilList", { iState: $("#CityName").val() }, function (data) {
                  if (data != null) {
                      var $table = $('<table class="table table-fixed table-bordered j_table_new table-striped" style="margin-top:8px;"/>');
                      $table.append('<thead><tr style="ba"><th width="9%">S.No</th><th width="91%">Tahsil Name</th></tr></thead>');
                      var $tbody = $('<tbody style="height:370px;"/>');

                      debugger;
                      $.each(data, function (i, val) {
                          var $row = $('<tr/>');
                          $row.append($('<td width=9%"/>').html(i + 1));
                          $row.append($('<td width="76%"/>').html(val.cityname));
                          $row.append($('<td width="16%"/>').html('<button type="button" id="btnEdit_Tahsil" class="btn btn btn-danger btn-xs"><img src="../../img/eye.png" style="width:18px;"/></button> <button type="button" id="btnDel_Tahsil_' + i + '"  onclick=""  class="del_Tahsil btn btn btn-danger btn-xs"><img src="../../Images/deleteNEw.png" style="width:18px;"/></button><input type ="hidden" id="hdnTahsilCode_' + i + '" value ="' + val.citycode + '"  />'));
                          $tbody.append($row);
                      });
                      $table.append($tbody);
                      $('#dvCity').html($table);
                      //$('#Total_City').val(data);
                  }
              });
          }
          function showDiv() {
              document.getElementById('SearchDiv').style.display = "block";
          }


          $(document).on("click", ".del_Tahsil", function () {

              debugger;
              var index = $(this).closest("tr").index();
              var iMstCode = 0;
              if ($('#hdnTahsilCode_' + index).val() != "") iMstCode = $('#hdnTahsilCode_' + index).val(); else iMstCode = 0;

              if (iMstCode > 0) {

                  $.post("/Master/del_Tahsil", { iCityCode: iMstCode }, function (data) {
                      if (data != null) {
                          if (data == "Delete Successfully !") {
                              FillTahsilList();
                          }
                          else {
                              alert(data);
                          }
                      }
                  });
              }
          });


      </script>
 