/****** Object:  UserDefinedFunction [dbo].[udfGetGstR1Details]    Script Date: 09/22/2018 12:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[udfGetGstR1Details] (@pCompanyCodeV int, @pAcctCompCd int) RETURNS table AS Return (SELECT acctgstin, acctname, statname, statcode, statalia, compcode, mstcode, msttype, mstchno, mstdate, mstrowc, msttota, mstneta, mstprtc, mstsite, mstbrnc, mstbuyerc, y.hrcdName as GstType, y.hrcdEnum as GstTypeEnum, isnull(z.hrcdCategoryV, '') as InOutType, isnull(mstadjT, 0) mstadjT, mstcate, mstIorL, acctgsta, acctrate, case when mstrvsc = 0 then 'N' else 'Y' end mstrvsc, 'Regular' as mstextt, '' as mstecom, 'OE' as mstotht, avg(trnaddv) taxablev, sum(case when z.hrcdGroupType = 'CESS' then trntaxv else 0 end) as sumcessamt, sum(trntaxv) as sumtaxv, sum(taxOnWht) sumowht, mstchnh, mstchnv, mstsale, mstblno, mstbldt, mstrema FROM udfGetGstVouchersTrn(@pCompanyCodeV, @pAcctCompCd) x inner join (select * from tblhardcode where hrcdType = 'GstType') y on y.hrcdNameID = x.mstappl inner join (select * from tblhardcode where hrcdType = 'GstSubType') z on z.hrcdNameID = x.gstsubtp group by acctgstin, acctname, statname, statcode, statalia, compcode, mstcode, msttype, mstchno, mstdate, msttota, mstneta, mstprtc, mstsite, mstbrnc, mstbuyerc, y.hrcdName, y.hrcdEnum, z.hrcdCategoryV, mstadjT, acctgsta, mstrowc, mstcate, mstIorL, acctrate, case when mstrvsc = 0 then 'N' else 'Y' end, mstIpOp, mstchnh, mstchnv, mstsale, mstblno, mstbldt, mstrema)
GO
