/****** Object:  View [dbo].[vewGetStdVouchersDet]    Script Date: 09/22/2018 12:47:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vewGetStdVouchersDet] as SELECT isnull(c.acctgstin, '') acctgstin, c.acctdesc as acctname, isnull(c.acctgstin, '') + ' ' + '(' + c.acctdesc + ')' as partyname, mstchno as mstchno, mstdate as mstdate, case isnull(a.mstappl, 0) when 1 then 'Local Goods' when 2 then 'Inter-State' else '' end supplytype, itditem as itditem, msttota as msttota, mstneta mstneta, itdsrno as itdsrno, itemdesc as itemname, itdquan as itdquan, itdpkin as itdpkin, itdunit as itdunit, itdrate as itdrate, itdamou as itdamou, itdvate as itdvate, itdvatinc as itdvatinc, a.compcode, a.mstprtc, a.msttype, a.mstsale, c.acctgrou, c.groumain, a.mstsite, a.mstbrnc, a.mstbuyerc, c.compcode as acctcomp, itMn.compcode as itemcomp, a.mstcode, itdgstrtv as itdgstrtv, d.compcode as salecomp, itMn.itemhsnc, mstchnh, mstchnv FROM jourmst a inner join itpursal b on b.compcode = a.compcode and b.itdtype = a.msttype and b.itdcode = a.mstcode and b.itddate = a.mstdate inner join jourtrn jTrn on jTrn.compcode = a.compcode and jTrn.trncode = a.mstcode and jTrn.trntype = a.msttype and jTrn.trndate = a.mstdate and jTrn.trnsrno = 1 left join vewAccountMst c on c.acctcode = a.mstprtc left join vewAccountMst d on d.acctcode = a.mstsale left join iteminfo itMn on b.itditem = itMn.itemcode
GO
