/****** Object:  View [dbo].[vewGetGstVouchersDet]    Script Date: 09/22/2018 12:47:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vewGetGstVouchersDet] as  SELECT isnull(c.acctgstin, '') acctgstin, c.acctdesc as acctname, isnull(c.acctgstin, '') + ' ' + '(' + c.acctdesc + ')' as partyname, mstchno as mstchno, mstdate as mstdate, case isnull(a.mstappl, 0) when 1 then 'Local Goods' when 2 then 'Inter-State' else '' end supplytype, msttota as msttota, mstneta mstneta, 'No' as reversecharge, 0 as reversechargeper, 'None' Pos, 0 as itemsrno, 'G' category, itemhsnc as itemhsnc, sum(itdquan) sumitdquan, sum(itdamou) sumitdamou, isnull(itdgstrtv, 0) as itdgstrtv, case when isnull(a.mstappl, 0) = 1 then 0 else isnull(itdgstrtv, 0) end itdigstrt, sum(itdigstvl) sumigstamou, case when isnull(a.mstappl, 0) = 1 then isnull(itdgstrtv, 0) / 2 else 0 end itdcgstrt, sum(itdcgstvl) sumcgstamou, case when isnull(a.mstappl, 0) = 1 then isnull(itdgstrtv, 0) / 2 else 0 end itdsgstrt, sum(itdsgstvl) sumsgstamou, sum(itdcessvl) sumcessamou, sum(itdadcsvl) sumadlcessa, a.compcode, a.mstprtc, a.msttype, a.mstsale, c.acctgrou, c.groumain, a.mstsite, a.mstbrnc, a.mstbuyerc, c.compcode as acctcomp, itMn.compcode as itemcomp, a.mstcode, d.compcode as salecomp, ign2, unitname, isnull(a.mstappl, isnull(d.acctcform, 0)) mstappl, isnull(a.mstrvsc, 0) mstrvsc, isnull(a.mstadjt, 0) mstadjt, case when isnull(c.acctgsta, 0) = 0 then case when isnull(c.acctgstin, '') = '' then 0 else 3 end else c.acctgsta end acctgsta, case when msttype in (2872, 2880, 2884, 2885) then 'S' else 'G' end mstcate, isnull(mstiorl, '') mstiorl, isnull(mstIpOp, '') mstIpOp, sttI.cityname as statname, sttI.cityexti as statcode, mstchnh, mstchnv, ign1 FROM jourmst a inner join itpursal b on b.compcode = a.compcode and b.itdtype = a.msttype and b.itdcode = a.mstcode and b.itddate = a.mstdate inner join jourtrn jTrn on jTrn.compcode = a.compcode and jTrn.trncode = a.mstcode and jTrn.trntype = a.msttype and jTrn.trndate = a.mstdate and jTrn.trnsrno = 1 left join vewAccountMst c on c.acctcode = a.mstprtc left join vewAccountMst d on d.acctcode = a.mstsale left join iteminfo itMn on b.itditem = itMn.itemcode left join vewStatMaster sttI on sttI.citycode = case when isnull(c.acctstat, 0) = 0 then mstposc else c.acctstat end where isnull(a.mstappl, 0) <> 0 group by isnull(c.acctgstin, ''), c.acctdesc, mstchno, mstdate, isnull(a.mstappl, 0), msttota, mstneta, itemhsnc, isnull(itdgstrtv, 0), isnull(itdgstrtv, 0) / 2, a.compcode, a.mstprtc, a.msttype, a.mstsale, c.acctgrou, c.groumain, a.mstsite, a.mstbrnc, a.mstbuyerc, c.compcode, itMn.compcode, a.mstcode, isnull(c.acctgstin, '') + ' ' + '(' + c.acctdesc + ')', d.compcode, ign2, unitname, isnull(a.mstappl, isnull(d.acctcform, 0)), isnull(a.mstrvsc, 0), isnull(a.mstadjt, 0), case when isnull(c.acctgsta, 0) = 0 then case when isnull(c.acctgstin, '') = '' then 0 else 3 end else c.acctgsta end, case when msttype in (2872, 2880, 2884, 2885) then 'S' else 'G' end, isnull(mstiorl, ''), isnull(mstIpOp, ''), sttI.cityname, sttI.cityexti, mstchnh, mstchnv, ign1 union all  SELECT isnull(c.acctgstin, '') acctgstin, c.acctdesc as acctname, isnull(c.acctgstin, '') + ' ' + '(' + c.acctdesc + ')' as partyname, mstchno as mstchno, mstdate as mstdate, case isnull(a.mstappl, 0) when 1 then 'Local Goods' when 2 then 'Inter-State' else '' end supplytype, msttota as msttota, mstneta mstneta, 'No' as reversecharge, 0 as reversechargeper, 'None' Pos, 0 as itemsrno, 'G' category, itemhsnc as itemhsnc, sum(itdquan) sumitdquan, sum(itdamou) sumitdamou, isnull(itdgstrtv, 0) as itdgstrtv, case when isnull(a.mstappl, 0) = 1 then 0 else isnull(itdgstrtv, 0) end itdigstrt, sum(itdigstvl) sumigstamou, case when isnull(a.mstappl, 0) = 1 then isnull(itdgstrtv, 0) / 2 else 0 end itdcgstrt, sum(itdcgstvl) sumcgstamou, case when isnull(a.mstappl, 0) = 1 then isnull(itdgstrtv, 0) / 2 else 0 end itdsgstrt, sum(itdsgstvl) sumsgstamou, sum(itdcessvl) sumcessamou, sum(itdadcsvl) sumadlcessa, a.compcode, a.mstprtc, a.msttype, a.mstsale, c.acctgrou, c.groumain, a.mstsite, a.mstbrnc, a.mstbuyerc, c.compcode as acctcomp, itMn.compcode as itemcomp, a.mstcode, d.compcode as salecomp, ign2, unitname, isnull(a.mstappl, isnull(d.acctcform, 0)) mstappl, isnull(a.mstrvsc, 0) mstrvsc, isnull(a.mstadjt, 0) mstadjt, case when isnull(c.acctgsta, 0) = 0 then case when isnull(c.acctgstin, '') = '' then 0 else 3 end else c.acctgsta end acctgsta, case when msttype in (2872, 2880, 2884, 2885) then 'S' else 'G' end mstcate, isnull(mstiorl, '') mstiorl, isnull(mstIpOp, '') mstIpOp, sttI.cityname as statname, sttI.cityexti as statcode, mstchnh, mstchnv, ign1 FROM jourmst a inner join sapuitd b on b.compcode = a.compcode and b.itdtype = a.msttype and b.itdcode = a.mstcode and b.itddate = a.mstdate inner join jourtrn jTrn on jTrn.compcode = a.compcode and jTrn.trncode = a.mstcode and jTrn.trntype = a.msttype and jTrn.trndate = a.mstdate and jTrn.trnsrno = 1 inner join vewAccountMst c on c.acctcode = a.mstprtc inner join vewAccountMst d on d.acctcode = a.mstsale inner join iteminfo itMn on b.itditem = itMn.itemcode left join vewStatMaster sttI on sttI.citycode = case when isnull(c.acctstat, 0) = 0 then mstposc else c.acctstat end where isnull(a.mstappl, 0) <> 0 group by isnull(c.acctgstin, ''), c.acctdesc, mstchno, mstdate, isnull(a.mstappl, 0), msttota, mstneta, itemhsnc, isnull(itdgstrtv, 0), isnull(itdgstrtv, 0) / 2, a.compcode, a.mstprtc, a.msttype, a.mstsale, c.acctgrou, c.groumain, a.mstsite, a.mstbrnc, a.mstbuyerc, c.compcode, itMn.compcode, a.mstcode, isnull(c.acctgstin, '') + ' ' + '(' + c.acctdesc + ')', d.compcode, ign2, unitname, isnull(a.mstappl, isnull(d.acctcform, 0)), isnull(a.mstrvsc, 0), isnull(a.mstadjt, 0), case when isnull(c.acctgsta, 0) = 0 then case when isnull(c.acctgstin, '') = '' then 0 else 3 end else c.acctgsta end, case when msttype in (2872, 2880, 2884, 2885) then 'S' else 'G' end, isnull(mstiorl, ''), isnull(mstIpOp, ''), sttI.cityname, sttI.cityexti, mstchnh, mstchnv, ign1  union all SELECT isnull(c.acctgstin, '') acctgstin, c.acctdesc as acctname, isnull(c.acctgstin, '') + ' ' + '(' + c.acctdesc + ')' as partyname, mstchno as mstchno, mstdate as mstdate,  case isnull(a.mstappl, 0) when 1 then 'Local Goods' when 2 then 'Inter-State' else '' end supplytype, msttota as msttota, mstneta mstneta, 'No' as reversecharge, 0 as reversechargeper, 'None' Pos, 0 as itemsrno, 'S' category, itemhsnc as itemhsnc, sum(itdquan) sumitdquan, sum(itdamou) sumitdamou, isnull(itdgstrtv, 0) as itdgstrtv, case when isnull(a.mstappl, 0) = 1 then 0 else isnull(itdgstrtv, 0) end itdigstrt, sum(itdigstvl) sumigstamou, case when isnull(a.mstappl, 0) = 1 then isnull(itdgstrtv, 0) / 2 else 0 end itdcgstrt, sum(itdcgstvl) sumcgstamou, case when isnull(a.mstappl, 0) = 1 then isnull(itdgstrtv, 0) / 2 else 0 end itdsgstrt, sum(itdsgstvl) sumsgstamou, sum(itdcessvl) sumcessamou, sum(itdadcsvl) sumadlcessa, a.compcode, a.mstprtc, a.msttype, a.mstsale, c.acctgrou, c.groumain, a.mstsite, a.mstbrnc, a.mstbuyerc, c.compcode as acctcomp, itMn.compcode as itemcomp, a.mstcode, d.compcode as salecomp, itemname as ign2, '' as unitname, isnull(a.mstappl, isnull(d.acctcform, 0)) mstappl, isnull(a.mstrvsc, 0) mstrvsc, isnull(a.mstadjt, 0) mstadjt, case when isnull(c.acctgsta, 0) = 0 then case when isnull(c.acctgstin, '') = '' then 0 else 3 end else c.acctgsta end acctgsta, case when msttype in (2872, 2880, 2884, 2885) then 'S' else 'G' end mstcate, isnull(mstiorl, '') mstiorl, isnull(mstIpOp, '') mstIpOp, sttI.cityname as statname, sttI.cityexti as statcode, mstchnh, mstchnv, '' as ign1 FROM jourmst a inner join servitd b on b.compcode = a.compcode and b.itdtype = a.msttype and b.itdcode = a.mstcode and b.itddate = a.mstdate inner join jourtrn jTrn on jTrn.compcode = a.compcode and jTrn.trncode = a.mstcode and jTrn.trntype = a.msttype and jTrn.trndate = a.mstdate and jTrn.trnsrno = 1 inner join vewAccountMst c on c.acctcode = a.mstprtc inner join vewAccountMst d on d.acctcode = a.mstsale inner join srvmain itMn on b.itditem = itMn.itemcode left join vewStatMaster sttI on sttI.citycode = case when isnull(c.acctstat, 0) = 0 then mstposc else c.acctstat end where isnull(a.mstappl, 0) <> 0 group by isnull(c.acctgstin, ''), c.acctdesc, mstchno, mstdate, isnull(a.mstappl, 0), msttota, mstneta, itemhsnc, isnull(itdgstrtv, 0), isnull(itdgstrtv, 0) / 2, a.compcode, a.mstprtc, a.msttype, a.mstsale, c.acctgrou, c.groumain, a.mstsite, a.mstbrnc, a.mstbuyerc, c.compcode, itMn.compcode, a.mstcode, isnull(c.acctgstin, '') + ' ' + '(' + c.acctdesc + ')', d.compcode, itemname, isnull(a.mstappl, isnull(d.acctcform, 0)), isnull(a.mstrvsc, 0), isnull(a.mstadjt, 0), case when isnull(c.acctgsta, 0) = 0 then case when isnull(c.acctgstin, '') = '' then 0 else 3 end else c.acctgsta end, case when msttype in (2872, 2880, 2884, 2885) then 'S' else 'G' end, isnull(mstiorl, ''), isnull(mstIpOp, ''), sttI.cityname, sttI.cityexti, mstchnh, mstchnv
GO
