/****** Object:  View [dbo].[vewBrandQuality]    Script Date: 09/22/2018 12:47:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vewBrandQuality] as select * from studdet where studtype = 61
GO
