/****** Object:  View [dbo].[mahabillInv]    Script Date: 09/22/2018 12:47:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[mahabillInv] AS SELECT parN.acctname + ', ' + citN.cityname AS acctdesc, parN.acctname AS pname, parN.acctcode AS Expr1, parN.acctaddr AS addr, parN.acctphon,citN.cityname AS partyCity, sttN.cityname AS partyState, itmN.itemdesc, a.msttype AS Expr3, a.mstcode AS Expr4, a.mstdate AS Expr5,b.itdsrno AS Expr53, b.itdquan AS Expr55, b.itdrate AS Expr57, b.itdamou AS Expr58, a.compcode AS Expr6, b.itdtype AS Expr78,parN.compcode AS acctcom, itmN.compcode AS itemcom, a.mstchno AS refnum, a.mstblno AS bilno, a.mstclno AS chalno, a.mstcldt AS chaldt,a.mstbldt, ABS(b.itdpkin) AS cas, itmN.itemalia AS code, itmN.unitname AS wunit, gDet.gathwtst AS mrp, gDet.gathwtnt AS mrpvalue, gDet.gathqtdi AS dis, gDet.gathwtdi AS Expr8, gDet.gathlabp AS ItemDiscount, gDet.gathdesc AS rema, gDet.gathcity AS station, gDet.gathavgw AS abetvalue, gDet.gathtruc AS exciseValue, gDet.gathdisq AS ecessvalue, gDet.gathsehp AS sehpValue, brk.acctname,brk.compcode AS BKCOMP, U.unitname, U.compcode AS UNICOMP, b.itdrema, itmN.itgpbcqt, cmpN.compname, cmpN.compadd1, cmpN.compadd2,cmpN.compadd3, cmpN.compcity, cmpN.compmail, cmpN.compfax, cmpN.compphoo, cmpN.compstat AS state, cmpN.compitno AS TinNo,parN.acctrema, emP.acctname AS empoName, det.unitname AS unit1, det.compcode AS detcomp, s.studName, tr.mstrpno, tr.mstdrin,tr.mstgrno AS grno, tr.mstgrdt AS grdt, sizeD.compcode AS sizedcomp, sizeD.unitname AS unit2, uni.unitqty2, emP.compcode AS empComp,uni.compcode AS ucnvcomp, buyer.studName AS buyername, a.oldwht AS totalwt, itmN.igs2 AS chaptar,trans.studname as transport,tr.mstmode,tr.mstcase, a.mstrema as mstrema, b.itditem as itditem, b.itdgath as itdgath, gd.gododesc as godown, isnull(custd.studname, '') as custname, isnull(custd.studcode, 0) as custcode , custd.studadd1 as custadd, custd.studphon as custphon, gcity.cityname as custcity FROM  dbo.jourmst a INNER JOIN  (SELECT * From account  WHERE compcode <> 0) parN ON parN.acctcode = CONVERT(integer, LEFT(a.mstrefc, 6), 0) LEFT OUTER JOIN (SELECT * From citydet    WHERE citytype = 15) citN ON citN.citycode = parN.acctcity LEFT OUTER JOIN (SELECT * From citydet WHERE citytype = 67) sttN ON sttN.citycode = parN.acctcity INNER JOIN dbo.company cmpN ON cmpN.compcode = a.compcode LEFT OUTER JOIN dbo.itpursal b ON b.compcode = a.compcode AND b.itdcode = a.mstcode AND b.itddate = a.mstdate AND b.itdtype = a.msttype LEFT OUTER JOIN dbo.gathdet gDet ON gDet.gathcode = b.itdgath LEFT OUTER JOIN (SELECT *  From iteminfo WHERE compcode <> 0) itmN ON itmN.itemcode = b.itditem LEFT OUTER JOIN  dbo.jourtrn ot ON ot.compcode = a.compcode AND ot.trncode = a.mstcode AND ot.trndate = a.mstdate AND ot.trntype = a.msttype AND ot.trnsrno = 3 LEFT OUTER JOIN (SELECT * From account  WHERE compcode <> 0) brk ON brk.acctcode = ot.trnitem LEFT OUTER JOIN  (SELECT * From account WHERE compcode <> 0) emP ON emP.acctcode = a.mstptcode LEFT OUTER JOIN (SELECT * From unitdet WHERE compcode <> 0) U ON b.itdunit = U.unitcode LEFT OUTER JOIN dbo.transta tr ON tr.compcode = a.compcode AND tr.mstcode = a.mstcode AND tr.mstdate = a.mstdate AND tr.msttype = a.msttype LEFT OUTER JOIN (SELECT * From Studdet wHERE studtype = 61) s ON s.studCode = b.itdmill LEFT OUTER JOIN (SELECT * From uniconv WHERE compcode <> 0) uni ON b.itdunit = uni.unitcode LEFT OUTER JOIN (SELECT *  From unitdet WHERE compcode <> 0) det ON uni.unitcod1 = det.unitcode LEFT OUTER JOIN (SELECT * From unitdet  WHERE compcode <> 0) sizeD ON uni.unitcod2 = sizeD.unitcode LEFT OUTER JOIN (SELECT * From Studdet WHERE studtype = 62) buyer ON buyer.studCode = a.mstbuyerc LEFT OUTER JOIN (SELECT * FROM   Studdet WHERE studtype = 78) trans ON trans.studCode = tr.msttrcd left outer join dbo.godowns gd on gd.compcode=b.compcode and gd.godocode = b.itdgodo left join (select * from studdet where studtype = 68) custd on left(a.mstgncd, charindex('~',a.mstgncd))  =convert(varchar, custd.studcode, 0)+'~' left join (select * from citydet where citytype = 15) Gcity on gcity.citycode = custd.studcity
GO
