/****** Object:  UserDefinedFunction [dbo].[udfGetGstVouchersTrn]    Script Date: 09/22/2018 12:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[udfGetGstVouchersTrn] (@pCompanyCodeV int, @pAcctCompCd int) RETURNS table AS Return (SELECT isnull(c.acctgstin, '') acctgstin, c.acctdesc as acctname, sttI.cityname as statname, sttI.cityexti as statcode, sttI.cityalia as statalia, a.compcode, a.mstcode, a.msttype, mstchno as mstchno, mstdate as mstdate, a.mstrowc,  msttota as msttota, mstneta mstneta, a.mstprtc, a.mstsale, a.mstsite, a.mstbrnc, a.mstbuyerc, isnull(jTrn.trncram-jTrn.trndram, 0) as trntaxv, isnull(jtrn.trnaddV, 0) trnaddV, jtrn.trnitem, e.acctdesc as taxheadn, d.acctdesc as salename, isnull(jtrn.trnadju, 0) trnadju, isnull(e.acctrate, 0) acctrate, isnull(e.acctgsta, 0) gstsubtp, isnull(a.mstappl, isnull(d.acctcform, 0)) mstappl, isnull(a.mstrvsc, 0) mstrvsc, isnull(a.mstadjt, 0) mstadjt, case when isnull(c.acctgsta, 0) = 0 then case when isnull(c.acctgstin, '') = '' then 0 else 3 end else c.acctgsta end acctgsta, case when msttype in (2872, 2880, 2884, 2885) then 'S' else 'G' end mstcate, isnull(mstiorl, '') mstiorl, round(isnull(jtrn.trntxow, 0), 2) taxOnWht, isnull(mstIpOp, '') mstIpOp, mstchnh, mstchnv, mstblno, mstbldt, mstrema FROM jourmst a inner join jourtrn b on b.compcode = a.compcode and b.trncode = a.mstcode and b.trntype = a.msttype and b.trndate = a.mstdate and b.trnsrno = 1 left join jourtrn jTrn on jTrn.compcode = a.compcode and jTrn.trncode = a.mstcode and jTrn.trntype = a.msttype and jTrn.trndate = a.mstdate and isnull(jTrn.trninde, 0) = 3 inner join vewAccountMst c on c.acctcode = a.mstprtc and c.compcode = @pAcctCompCd left join vewAccountMst d on d.acctcode = a.mstsale and d.compcode = @pAcctCompCd left join vewAccountMst e on e.acctcode = jTrn.trnitem and e.compcode = @pAcctCompCd left join vewStatMaster sttI on sttI.citycode = case when isnull(c.acctstat, 0) = 0 then mstposc else c.acctstat end where a.compcode = @pCompanyCodeV)
GO
