/****** Object:  UserDefinedFunction [dbo].[udfGetGstVouchersMst]    Script Date: 09/22/2018 12:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[udfGetGstVouchersMst] (@pCompanyCodeV int, @pAcctCompCd int) RETURNS table AS Return (SELECT acctgstin, acctname, statname, statcode, statalia, compcode, mstcode, msttype, mstchno, mstdate, mstrowc, msttota, mstneta, mstprtc, mstsite, mstbrnc, mstbuyerc, y.hrcdName as GstType, y.hrcdEnum as GstTypeEnum, z.hrcdCategoryV as InOutType, isnull(mstadjT, 0) mstadjT, mstcate, mstIorL, sum(case when z.hrcdGroupType = 'IGST' then trntaxv else 0 end) as sumigstamt, sum(case when z.hrcdGroupType = 'CGST' then trntaxv else 0 end) as sumcgstamt, sum(case when z.hrcdGroupType = 'SGST' or z.hrcdGroupType = 'UGST' then trntaxv else 0 end) as sumsgstamt, sum(case when z.hrcdGroupType = 'CESS' then trntaxv else 0 end) as sumcessamt, sum(trntaxv) as sumtaxv, acctgsta, sum(taxOnWht) sumowht, isnull(mstIpOp, '') mstIpOp, mstchnh, mstchnv FROM udfGetGstVouchersTrn(@pCompanyCodeV, @pAcctCompCd) x inner join (select * from tblhardcode where hrcdType = 'GstType') y on y.hrcdNameID = x.mstappl inner join (select * from tblhardcode where hrcdType = 'GstSubType') z on z.hrcdNameID = x.gstsubtp group by acctgstin, acctname, statname, statcode, statalia, compcode, mstcode, msttype, mstchno, mstdate, msttota, mstneta, mstprtc, mstsite, mstbrnc, mstbuyerc, y.hrcdName, y.hrcdEnum, z.hrcdCategoryV, mstadjT, acctgsta, mstrowc, mstcate, mstIorL, mstIpOp, mstchnh, mstchnv)
GO
